.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}
.contents {
  width: 100%;
  max-width: 600px;
  padding: 0 16px;
  box-sizing: border-box;
}
.logo img {
  width: 300px;
  height: auto;
  max-width: 100%;
}
.info {
  display: block;
  margin-top: 64px;
}
table {
  width: 100%;
  border-spacing: 0;
}
th {
  text-align: left;
  width: 150px;
  border-bottom: 1px solid #ccc;
  padding: 16px 32px;
}
td {
  padding: 16px 32px;
  border-bottom: 1px solid #ccc;
}
tr:last-child th, tr:last-child td {
  border: 0;
}

@media (max-width: 480px) {
  .box {
    padding: 20px 0;
  }
  .logo img {
    width: 200px;
  }
  .info {
    margin-top: 40px;
  }
  th {
    width: 100px;
    padding: 12px 16px;
  }
  td {
    padding: 12px 16px;
  }
}
